/* Registration Page CSS */

.reg16Table td {padding: 5px;}

#regButton3 {background-color: rgb(169, 106, 82) !important; padding: 5px; color: white; text-transform: uppercase; width: 100%;}
#regButton3:hover {color:rgb(174, 213, 255);}

.container2 {	
	margin-left: auto;
	margin-right: auto;
	width: 89%;
}
.container2 input {
	clear: both;
}

#regButton2 {
	padding: 15px;
	font-size: 20px;
	
}
#regButton3 {
	padding: 10px;
	font-size: 17px;
}

#regButton4 {
	font-size: 39px;
	line-height: 39px;
	padding: 25px;
}
.regHeader{
	color:black; font-weight: 400
}

.regTable {
	color: black;
	width: 100%;
}
.regTable p{
	font-size: 11px;
	margin-top: -5px;
}
.regTable span {
	font-size: 12px;
}
.regTable tbody tr th span {
	font-weight: 600;}
.regTable th {
	padding-top: 5px;
	font-size: 14px;
	font-weight: 400;
	text-align: left;}
.col-md-99{
	width: 100%;
}
.border input {width: 75% !important;}

.accordion-group { margin: 5px;}
.accordion-heading {background-color: rgb(169, 106, 82); padding: 8px; border-radius: 3px;}
.accordion-heading .accordion-toggle {color: white;}
.accordion-heading h4 {color: white; margin: 5px;}
.accordion-heading a:focus {text-decoration: none;}
.centered {text-align: center;}
.centered td {font-size: 17px;}
.reg16Table {color: black; margin-top: 5px; width: 100%;
    word-wrap: break-word;
    table-layout: fixed}
.reg16Table i {margin-bottom: 0px; color: white;}
.reg16Table th {padding: 5px; font-size: 17px; color: white; text-align: center;}
.reg16Table td {font-size: 15px; padding: 7px;}
.reg16Table thead {background-color: #386090;  border-radius: 3px;  padding: 8px;}
.reg16Table ~ .accordion-heading {border-radius: 3px; height: 5vh;}
.reg16Table span {font-size: 12px; font-weight: 600; letter-spacing: 1px; width: 100%;  word-wrap: break-word; display: inline-block;}
.reg16Table .mainHeader {color: white; font-weight: 400;}
.reg16Table .checked {background: url('assets/img/dot.png') no-repeat center center; border: 1px solid #d7d7d7;}
.reg16Table .border {border: 1px solid #d7d7d7; text-align: center;}
.reg16Table .brdr {border-top: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7;}
.reg16Table .brdr2 {border-top: 1px solid #d7d7d7; border-bottom: 1px solid #d7d7d7; font-weight: 600;}

/* ALL MEDIA QUERIES */


 
@media only screen and (max-width: 1199px) {
	.reg16Table span {white-space: normal;}
	#content2 {width: 75% !important;}
}

@media (max-width: 992px) {
	#image {margin-top: -30px;}
	#header-sizing > .navbar-header {padding-left: 20px; padding-right: 20px;}
	.border input {width: 100% !important;}
}

@media (max-width: 753px) {
    .navbar-right {float: right;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 6%;
    padding: 25px !important;
    position: relative;}
}

@media only screen and (max-width: 767px) {
	#regButton3 {font-size: 14px; padding: 0px;}
	.reg16Table span {display: table-column-group;}
	.reg16Table th {font-size: 14px;}
	.reg16Table td {font-size: 12px;}
	#content2 {width: 90% !important;}
	#header-sizing {width: 100%;}
	.border input {}
	}
@media (max-width: 559px) {
	#mainHeader {font-size: 30px; margin-bottom: 0px; padding-top: 5px;}
	#mainHeader2 {margin-top:-24px; margin-bottom: 12px; font-size: 20px;}
}

/* RegInfo CSS */
/*.wrapper {padding-top: 150px;} */
#content2 {width: %; margin-left: auto; margin-right: auto;}
#content3 {width: 50%; margin-left: auto; margin-right: auto;}
#content3 input {width: 100%; clear: both;}
#form_923064 {
	display: table;}
#content2 input {
	width: 100%;
	clear: both;}
textarea {
	height: 180px;
	clear: both;
	width: 80%;}
#saveForm {
	width: 30%;
	margin-top: 20px;}
.buttons {
	list-style-type: none;}
.shirtSize {
	margin-top: 8px;
	margin-bottom: 8px;}
#shirt {
	margin-bottom: 8px;}
#audience {
	margin-bottom: 8px;}
#format {
	margin-bottom: 8px;}
#other {
	margin-top: 8px; margin-bottom: 15px; font-weight: 500; font-size: 12px; color: #FF0505;}
#other input {
	color: #000;}

#regButton {background-color: rgb(169, 106, 82); padding: 5px;
text-transform: uppercase; width: 40%; margin-left: auto; margin-right: auto; color: white; display: block; font-size: 25px;}
#regButton:hover {color: #AFD6FF;}
#regButton i {color: white; margin-bottom: 0px;}
.checkbox2 {width: 24px !important;}
.surveyForm label {margin-bottom: 0px;}

/* HEADER CSS */
.navbar {background-color: transparent;}

/* .navbar.tiny {background-color: white; padding: 0px !important;} */

/* SPONSORS PAGE CSS */

.post-media2 {padding-bottom: 20px; padding-top: 20px;}
#centered {text-align: center;}
#widthChange .post-body .post-excerpt p {width: 75%; margin-left: auto; margin-right: auto;}

/* LODGING CSS */
#lodging {font-weight: 500 !important;}

/* AGENDA CSS */

/* ========================================================================== */

.active a strong {color: #fff;}
#fontAwesomeAgenda {padding-top: 40px; font-size: 6em;}
.fa-laptop {margin-right: -15px;}
.fa-microphone {margin-right: 16px;}

.schedule-wrapper {
    margin-top: 30px;
    border: solid 1px #435469;
    border-top: none;
    border-bottom-width: 10px;
    border-radius: 30px 30px 10px 10px;
    overflow: hidden;
}
.schedule-tabs.lv1 {
    background-color: rgba(169,106,82,1);
    color: #ffffff;
}
.schedule-tabs.lv2 {
    border: solid 1px #8598b0;
    border-top: none;
    background-color: #ffffff;
}
.tab-content.lv1 {}
.tab-content.lv2 {}
.tab-content.lv2 .tab-pane {padding: 30px 70px;}
@media (max-width: 1024px) {
    .tab-content.lv2 .tab-pane {padding: 30px 50px;}
}
@media (max-width: 992px) {
    .tab-content.lv2 .tab-pane {padding: 30px 30px;}
}
@media (max-width: 767px) {
    .tab-content.lv2 .tab-pane {padding: 15px 15px;}
}
.schedule-wrapper .nav > li > a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.schedule-wrapper .nav > li > a:hover,
.schedule-wrapper .nav > li > a:focus {
    background-color: transparent;
}
.schedule-wrapper .schedule-tabs.lv1 .nav > li > a {
    min-height: 70px;
    text-transform: uppercase;
    color: #000;
}

.schedule-wrapper .schedule-tabs.lv2 .nav > li > a {
    color: #293239;
}
.schedule-wrapper .schedule-tabs.lv1 .nav > li.active > a {}
.schedule-wrapper .schedule-tabs.lv2 .nav > li.active > a {
    color: rgba(169,106,82,1);
}
.schedule-wrapper .schedule-tabs.lv2 .nav > li.active:before {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: -1px; left: 0;
    background-color: #A96A52;
}

.content .post-wrap {position: relative;}
.content .post-wrap + .post-wrap {
    
    position: relative;
}
.row.post-row {}
.row.post-row .post-wrap {margin-top: 30px;}
.post {}
.post-header {margin-bottom: 20px; position: relative;}
.post-title {color: #0d1d31; font-weight: 700; margin-top: 0; margin-bottom: 25px; font-size: 18px;}
.post-title a {color: #0d1d31; line-height: 1;}
.post-title a:hover {color: #A96A52;}
.post-header .post-meta {color: #A96A52; line-height: 1; font-size: 14px;}
.post-header .post-meta a,
.post-header .post-meta .fa {color: #435469;}
.post-header .post-meta a:hover {color: #A96A52;}
.post-header .social-line {margin-top: -2px;}
.post-header .social-line li {padding-top: 2px; padding-right: 2px;}
.post-header .social-line a {height: 20px; width: 20px; line-height: 20px; font-size: 14px;}
.post-header .post-meta-author {display: block; margin-bottom: 20px;}

.post-footer {}
.post-readmore {display: block; text-align: right;}
.post-readmore .btn {
    font-size: 14px;
    padding: 12px 15px;
    border-color: #435469;
    color: #435469;
}
.post-readmore .btn:hover,
.post-readmore .btn:focus {
    background-color: #435469;
    border-color: #435469;
    color: #ffffff;
}

.post-excerpt {font-size: 14px;}
.post-excerpt p {font-size: 16px;}
.post-excerpt2 h1 {margin: 0px;}

.post-meta-author,
.post-meta-category,
.post-meta-comment {}
.post-meta-author a {color: #464c4e; font-size: 14px;}
.post-meta-author a:hover {color: #000000;}
.post-media {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.post-media img {max-width: 100%; width: 100%;}
.post-type {
    position: absolute;
    top: 10px; right: 25px;
    width: 40px; height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    line-height: 40px;
}
.post-type .fa {}
.content .post-type {right: 12px;}
.post-content {text-align: justify;}
footer.post-meta {margin-top: 40px;}
footer.post-meta .post-tags {display: block;}
footer.post-meta .post-categories {display: block;}
.post + .post {
    border-top: solid 1px #efefef;
    margin-top: 50px;
    padding-top: 50px;
}

.about-the-author {
    margin-top: 30px;
    padding-top: 30px;
    border-top: solid 1px #efefef;
}

.about-the-author .media-heading {
    color: #A96A52;
}

.timeline .post-header {margin-bottom: 15px;}
.timeline .media-body {padding: 25px; background-color: rgba(169,106,82,0.15); border-radius: 10px;}
.timeline .post-media {

}
.timeline .post-media.pull-left {margin-right: 60px;}
@media (max-width: 1024px) {
    .timeline .post-media.pull-left {margin-right: 30px;}
}
@media (max-width: 767px) {
    .timeline .post-media {
        float: none !important;
        width: 110px !important;
        margin-left: auto !important;
        margin-right: auto !important ;
    }
}
.timeline .post-wrap + .post-wrap {margin-top: 30px;}
.timeline .post-title {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    border-bottom: solid 1px #d2d2dc;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
.timeline .post-title a {color: #A96A52;}
.timeline .post-title a:hover {color: #000000;}
.timeline .post-meta {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: #293239;
    margin-bottom: 10px;
}
.timeline .post-meta a .fa {color: #A96A52;}
.timeline .post-meta a:hover .fa {color: #293239;}
.timeline .post-meta .fa-stack {line-height: 32px; height: 32px; width: 32px;}
.timeline .post-meta .fa-stack-2x {line-height: 32px; font-size: 32px;}
.timeline .post-meta .fa-stack-1x {line-height: 32px; font-size: 16px;}
.timeline .post-excerpt {
    line-height: 24px;
}
.timeline .post-readmore {
    color: #293239;
    text-align: left;
    font-size: 18px;
}
.timeline .post-readmore a {color: #293239;}
.timeline .post-readmore a:hover {color: #A96A52;}
.timeline .post-readmore .fa {
    /*width: 18px;*/
    /*text-align: center;*/
}

#agendaDL {border-color: #a96a52; font-size: 25px; margin-top: 23px; white-space: normal;}
#agendaDL i {margin: 0px;}

.media-object {border-radius: 50%; border: solid 6px #a96a52;}
.post-date i {margin-bottom: 0px;}
.post-meta h3 {font-weight: 800;}

/* SpeakApp CSS */

.post-excerpt ul {padding-left: 0px;}
#form_923064 li {list-style-type: none; padding-left: 0px;}
#speakerList 

/* Random CSS */

#content5 {}




/* Responsive iframe */
.responsive-iframe { 
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
}

.responsive-iframe iframe {position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}}